<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>

</head>
<body>

    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Main Blog Page</a></li>
            <li><a href="/newpost">Add a Blog Entry</a></li>
            <li><a href="/signup">User Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>