<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <style type="text/css">
        .error {
            color: red;
        }
    </style>

</head>
<body>

    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog"> Blog Page</a></li>
            <li><a href="/newpost">Add a Blog Entry</a></li>
            <li><a href="/signup">User Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>