{% extends 'base.html' %}

{% block content %}
    
<h1>Build a Blog</h1>

    <div>
            {% for blog in posts %}
            <h2><a href="./blog?id={{blog.id}}">{{blog.title}}</a></h2>
            <p>{{blog.post}}</p>
            <hr>
            {% endfor %}
            <!-- <ul>
                {% for blog in posts %}
                <li>{{blog.title}}
                    <form method="POST" action="/delete-task" style="display:inline-block;">
                        <input type="hidden" name="post-id" value="{{blog.id}}" />
                        <input type="submit" value="delete" />
                    </form>
                </li>
                {% endfor %}
            </ul> -->
    </div>
    

{% endblock %} 